$heading: #374054;
$background-alt: #f2f2f5;

.main-wrapper {
    background: #fff;
    padding-right: 200px;
    padding-left: 200px;
    margin-bottom: 70px;
}

.skillskeith {
    text-align: center;
    padding-top:50px;
    padding-left:15px;
    padding-right:15px;

    h2 {
        color: $heading;
    }

    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
    }

    li {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: $heading;
        background: darken($background-alt, 5%);
        list-style: none;
        cursor: default;
        font-size: 1.2em;
    }
}

.skillset {
    .item {
        margin-bottom: 15px;
        overflow: hidden;
    }
    .level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .level-bar {
        height: 12px;
        background: $smoky-white;
    }
    .level-bar-inner {
        height: 12px;
        background: #3498DB
    }
}


.footer {
    padding-top: 30px;
    .copyright {
        line-height: 1.6;
        color: $text-color-secondary;
        font-size: 13px;
    }

    .fa-heart {
        color: $heart;
    }

}
